.img1{
    background-image: url('../../../public/img/skola.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img2{
    background-image: url('../../../public/img/skola2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img3{
    background-image: url('../../../public/img/skola3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.carousel{
    height: 100vh;
}